# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.4-node-browsers
      - image: circleci/mysql:8.0
        envirionment:
          APP_DEBUG: true
          APP_ENV: testing
          DB_CONNECTION: circle_test
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_USER: root
          MYSQL_ROOT_PASSWORD: ''
          MYSQL_DATABASE: circle_test
    working_directory: ~/circle-test

    steps:
      - checkout

      - run: 
        name: Docker php extensions install
        command: sudo docker-php-ext-install pdo_mysql

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.json" }}
            - v1-dependencies-

      - run:
        name: Install PHP libraries
        command: composer install -n --prefer-dist

      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - ./vendor

      - run:
        name: migrate
        command: php artisan migrate
      - run:
        name: seeder
        command: php artisan db:seed

      - run:
        name: Run phpunit
        command: ./vendor/bin/phpunit
